body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#main-wrappper{
    position: relative;
    text-align: center;
    background-color: black;

}

#title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
}

#title-container p{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: rgb(227, 139, 154);
    font-weight:  900;
    font-size: 60px;

    
}

#gradient{
    height: clamp(180px, 25vw, 400px);
    background: linear-gradient(180deg, rgb(227, 139, 154) 0%, rgb(255 255 255) 35%, rgb(255 255 255) 100%);
}

#navbar {
    width: 80%;
    position: absolute;
    margin: 5em;
    display:flex;
    justify-content: space-between;
    z-index: 10;
}

button {
    font-family: "Poppins", sans-serif;
    padding:10px 20px;
    border-radius: 25px;
    font-weight: 700;
    border: 2.5px solid rgb(227, 139, 154);
}

#slider {
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 10em;

}

.characters {
    width: 300px;
    height:350px;
    border-radius: 20px;
    box-shadow: 25px black;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* stack flex items vertically */
    position: relative;
}

#yuno {
    background-color: rgb(199, 119, 133);;
}

#minene {
    background-color: rgb(53, 18, 85);
}

#nishi {
    background-color: rgb(170, 133, 84);
}


#aru {
    background-color: rgb(75, 75, 228);
}

.name {
    z-index:5;
    position: absolute;
    left: 30px;
    top: 250px;
    border-bottom: 2px solid white;
    color: white;
    font-weight: bold;
}



p{
    margin: 0;
}