body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


:root {
    --yuno: rgb(230,150,161);
    --minene: rgb(120,74,122);
    --nishi: rgb(141,100,57);
    --aru: rgb(90, 90, 205);
}


a {
    text-decoration: none;
    
}


#main-wrappper{
    position: relative;
    text-align: center;
    background-color: black;

}


#title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
}


#title-container p{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: rgb(227, 139, 154);
    font-weight:  900;
    font-size: 60px;
}

#main-button {
    border: 2.5px solid rgb(227, 139, 154);
    transition-duration: 0.3s;
}

#main-button:hover {
    padding: 7.5px 15px;
    
}


#navbar {
    width: 80%;
    position: absolute;
    margin-top: 5em;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    justify-content: space-between;
    z-index: 10;
}


button {
    font-family: "Poppins", sans-serif;
    padding:10px 20px;
    border-radius: 25px;
    font-weight: 700;
   
}


#slider {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10em;

}


.characters {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 2.5em;
    box-shadow: 0px 2px 4px black;
}


.characters img {
    width: 100%;
    height:275px;
    background-size: cover;
}


#yuno {
    background-color: var(--yuno);
}


#minene {
    background-color: var(--minene);
}


#nishi {
    background-color: var(--nishi);
} 


#aru {
    background-color: var(--aru);
}


.inner-character {
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}


.inner-character p {
    display: inline-block
}


.about {
    border-radius: 5px;
    padding:5px 10px;
    border-radius: 5px;
    font-weight: 500;
    color:black;
    background-color: white;
    
    
}
 

.name {
    border-bottom: 2px solid white;
    color: white;
    font-weight: bold;
}
#character-section {
    position: relative;
}
#character-section2 {
    max-width: 1650px;
    margin-left:auto;
    margin-right:auto;
}

#character-section2 img{
    max-width: 100%;
    border: 0;
    max-height: 80%;
    position: absolute;
    right: 0;
    margin-right:7.5%;
    bottom: 60px;
    z-index: 4;
    display: block;
}
#character-section2 #minene-img{
    bottom:350px;
}

#character-section2 #nishi-img {
    max-height: 68%;
}

#character-section2 p {
    padding-left: 10%;
    font-weight: 300;
    
}

#character-section2 h1 {
    padding-left: 10%;
    margin-top: 0px;
    font-size: 75px;
}


.gradient{
    height: clamp(150px, 20vw, 300px);
    
}

#grandient-yuno {
    background: linear-gradient(180deg, var(--yuno) 5%,rgba(255, 255, 255, 0) 100%);
}

#grandient-minene {
    background: linear-gradient(180deg, var(--minene) 5%, rgba(255, 255, 255, 0) 100%);
}

#grandient-nishi{
    background: linear-gradient(180deg, var(--nishi) 5%, rgba(255, 255, 255, 0) 100%);
}

#grandient-aru {
    background: linear-gradient(180deg, var(--aru) 5%, rgba(255, 255, 255, 0) 100%);
}

.section {
    padding-left: 10%; 
    margin-left:0;
    width:50%
}

#yuno-name {
    color: var(--yuno);

}
 #minene-name {
    color: var(--minene);
}

#nishi-name {
    color: var(--nishi);
}

#aru-name {
    color: var(--aru);
}

h2 {
    margin-top: 4em;
}

.line {
    background: linear-gradient(78deg, #fff, #fff, hsla(0, 0%, 100%, 0));
    height: 1px;
    width: 20em;
    margin-left: 10%;
   
}

iframe {
    margin-left: 10%;
    margin-top: 4em; 
     
}

@media only screen and (max-width: 1000px) {
    #character-section2{
        display:flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

    }
    .section{
        width:100%
    }
    #character-section p {
        padding-left: 0;
        width:60%;
    }
    #character-section h1 {
        padding-left: 0;
    }
    #character-section h2 {
        padding-left: 0;
    }

    #character-section2 img {
        position:unset;
        height: 550px;
        width:auto;
        text-align: center;
        margin-right: 0;
    }
    .line {margin-left:0;}
}

@media only screen and (max-width: 1450px) {
    #character-section2 img {
        max-height: 67%;
        margin-right: 0;
        right: 0;
    }
    #character-section2 h1 {font-size:70px;}

    iframe {
        width: 440px;
        height: 270px;
    }

    #character-section2 #minene-img {
        bottom: 350px;
        max-height: 50%;
        max-width: 50%;
    }
    #character-section2 #nishi-img {
        bottom:350px;
        max-height: 50%;
        max-width: 50%;
    }
    
}

