{% extends "main.html" %}
{% load static %}

{% block head %}
        <link rel="stylesheet" href="{% static 'css/character.css' %}">
{% endblock %}
{% block section %}
        <style>
                body{ 
                        background-color: rgb(27, 26, 26);
                }
                footer { 
                    color: white;    
                }
                footer a{color: white;}


                #character-navbar{
                        display: flex;
                        justify-content: space-around;
                        margin-top:3.5em;
                        

                }

                
                nav {
                        position: absolute;
                        top: 0;
                        width: 100%;
                }

                

        </style> 

        
    <div class="gradient" id="gradient-{{name}}">
        <nav>
            <ul id="character-navbar">
                <li><a href="{% url 'character' '1' %}">Yuno Gasai</a></li>
                <li><a href="{% url 'character' '2' %}">Minene Uryuu</a></li>
                <li><a href="{% url 'character' '3' %}">Masumi Nishijima</a></li>
                <li><a href="{% url 'character' '4' %}">Aru Akise</a></li>
            </ul>
        </nav>
    </div>

    <div id="character-section2">
        <h1 class="section" id="{{name}}-name">{{ character.name }}</h1>
        <p class="section">{{ character.description }}</p>
        
        <button class="section accordion {{name}}">Section 1</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        
        <img id="{{name}}-img" src="{% static character.image_path %}" alt="{{ character.name }}">
        
        <h2 class="section" id="{{name}}-name">BEST MOMENTS</h2>
        <div class="line"></div>
        
        <iframe width="560" height="315" src="{{ character.highlight_episode }}" frameborder="0"></iframe>
    </div>



                       
                        
        <script>
                var acc = document.getElementsByClassName("accordion");
                var i;
                
                for (i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                      panel.style.display = "none";
                    } else {
                      panel.style.display = "block";
                    }
                  });
                }
        </script>
                
                

        </div>


{% endblock %}
