{% extends "main.html" %}
{% load static %}


{% block section%}
        
    <div id="main-wrappper">
       
        <div id="navbar">
            <img src="{% static  'images/logo.png' %}" height="50px" width="120px">
            <button onclick="characters()">EXPLORE CHARACTERS</button>
        </div>
        <img style="opacity: 0.1; background-color: black;" src="https://wallpapercave.com/wp/wp2016151.jpg" width="100%" height="900px">
        
        
        <div id="title-container">
            <h1>Hi! Explore all the characters of <p style="display:inline-block">未来日記</p></h1>
        </div>
        
        

           
        
    </div>

    
    <div id="gradient"></div>


    <div id="slider">
        <div class="characters"  id="yuno">
            <img class="character" src="{% static 'images/YunoGasai.png' %}">
            <div class="inner-character"  id="yuno">
                <p class="name">YUNO GASAI</p>
                <a href="{% url 'character' '1'%}" class="about">Explore</a>
            </div>
        </div>
        
        <div class="characters" id="minene">
            <img class="character" src="{% static 'images/minene_uryuu.png' %}"> 
            <div class="inner-character" id="minene">
                <p class="name">MINENE URYUU</p>
                <a href="{% url 'character' '2'%}" class="about">Explore</a>
            </div>
        </div>

        <div class="characters" id="nishi">
            <img class="character" src="{% static 'images/nishijima.png' %}">
            <div class="inner-character" id="nishi">
                <p class="name">MASUMI NISHIJIMA</p>
                <a href="{% url 'character' '3'%}" class="about">Explore</a>
            </div>
        </div>

        <div class="characters" id="aru">
            <img class="character" src="{% static 'images/aru.png' %}">
            <div class="inner-character" id="aru">
                <p class="name">ARU AKISE</p>
                <a href="{% url 'character' '4'%}" class="about">Explore</a>
            </div>
        </div>


    </div>
    <script>
        function characters() {
            document.getElementById("slider").scrollIntoView({behavior: 'smooth'});
        }
    </script>
{% endblock %}
    
