{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Future Diary Project</title>

</head>


<body>

    <style>
        footer {
            text-align: center;
            font-size: 15px;
            padding-top:70px;
            padding-bottom: 60px;
            color: black;
        
        }
    </style>

    
    <div id="main-wrappper">
       
        <div id="navbar">
            <img src="{% static  'images/logo.png' %}" height="50px" width="120px">
            <button onclick="characters()">EXPLORE CHARACTERS</button>
        </div>
        <img style="opacity: 0.1; background-color: black;" src="https://wallpapercave.com/wp/wp2016151.jpg" width="100%" height="900px">
        
        
        <div id="title-container">
            <h1>Hi! Explore all the characters of <p style="display:inline-block">未来日記</p></h1>
        </div>
        
        

           
        
    </div>
    <div id="gradient"></div>
    <div id="slider">
        <div class="characters"  id="yuno">
            <img class="character" src="{% static 'images/YunoGasai.png' %}">
            <div class="inner-character"  id="yuno">
                <p class="name">YUNO GASAI</p>
                <button class="about">Explore</button>
            </div>
        </div>
        
        
        <div class="characters" id="minene">
            <img class="character" src="{% static 'images/minene_uryuu.png' %}">
            <div class="inner-character" id="minene">
                <p class="name">MINENE URYUU</p>
                <button class="about">Explore</button>
            </div>
        </div>
        <div class="characters" id="nishi">
            <img class="character" src="{% static 'images/nishijima.png' %}">
            <div class="inner-character" id="nishi">
                <p class="name">MASUMI NISHIJIMA</p>
                <button class="about">Explore</button>
            </div>
        </div>
        <div class="characters" id="aru">
            <img class="character" src="{% static 'images/aru.png' %}">
            <div class="inner-character" id="aru">
                <p class="name">ARU AKISE</p>
                <button class="about">Explore</button>
            </div>
        </div>
    </div>

    <footer>
        <p>@2024 Diego Ciprietti 🚀🎶</p>
        <a>cipriettid949@gmail.com</a>
        <ul id="quick-action">
            <li><a>About me</a></li>
            <li><a>Links</a></li>
            <li><a>contact me</a></li>
        </ul>
    </footer>
    <script>
        function characters() {
            document.getElementById("slider").scrollIntoView({behavior: 'smooth'});
        }
    </script>
</body>
</html>